.login-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login-success h1 {
  font-size: 1.9rem;
  margin-top: 40px;
}

.login-success p {
  font-weight: bold;
}

.login-success span {
  font-weight: normal;
}