.navbar {
  justify-content: space-around;
  background-color: #BFBFBF;
  display: flex;
}

.navbar a {
  border: 2px solid black;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  color: black;
  padding: 10px;
  width: 25%;
}

.active {
  background-color: white;
  border-radius: 5px;
}